<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Starter Template</title>
    <link rel="stylesheet" href="../static/css/foundation.min.css">
    <link rel="stylesheet" href="../static/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <script src="../static/js/common.js"></script>

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://rawgit.com/mapbox/mapbox-gl-leaflet/master/leaflet-mapbox-gl.js"></script>
</head>

<body>
    <div class="grid-container">
        <div class="grid-y grid-padding-y grid-frame">
            <div class="cell auto" id="mapbox">
            </div>
            <div class="cell shrink">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 text-center">
                        <button type="button" class="button" id="toilets-btn" amenity="toilets">Toilets</button>
                    </div>
                    <div class="cell small-6 text-center">
                        <button type="button" class="button" id="drinking-water-btn" amenity="drinking_water">Drinking Water</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="../static/js/vendor/jquery.js"></script> -->
    <script src="../static/js/vendor/what-input.js"></script>
    <!-- <script src="../static/js/vendor/foundation.min.js"></script> -->
    <!-- <script src="../static/js/app.js"></script> -->

</body>

</html>